@{
    ViewBag.Title = "About The IS Management System Application";
}
<h2>@ViewBag.Title.</h2>

<h3>Abstract</h3>
<p>This application is meant to give the user the ability to efficiently manage records of various individuals withing his organization.</p>
<p>The following technologies were used to design the application:</p>

<h3>Development Technology Used:</h3>
<ul>
    <li>Preferred Server-Side Language: C#.NET</li>
    <li>Preferred Client Side Languages: HTML5, CSS3, Javasript, JQuery</li>
    <li>Database design: SQL Server 2017 LocalDB</li>
    <li>Database ORM: Entity Framework - Database First Migrations</li>
    <li>Preferred MVC Template - ASP.NET MVC 5</li>
    <li>Additional Plugins used: Bootstrap, Toastr, JQuery DataTables, Bootswatch Themes, Resharper</li>
    <li>Source Control: Github. Project Link: <a href="https://github.com/randalx2/ISManagement" target="_blank">Github Cloud Repo</a></li>
</ul>
<br/>
<h3>Praneel Misthry</h3>
<img src="~/Content/Images/PMisthry-HeadShoulders.jpg" alt="Mountain View" style="width:446px;height:480px;">
<h3>Software Engineering Background</h3>
<p>I have a BSc (Hons Level) in Electronic Engineering from UKZN Howard College. I specialize in the following fields:</p>
<ul>
    <li>Software Engineering / Development</li>
    <li>Embedded Systems - Atmel MCUs, Arduinos, Raspberry Pie</li>
    <li>Robotics</li>
    <li>Development of Applications primarily using C# / C++ as my preferred language of choice</li>
    <li>C# WinForms, C# Windows Automation (TestStack.White, Selenium), Web Development in APS.NET MVC5 with Entity Framework, Game Development (C++ Allegro)</li>
</ul>