@{
    ViewBag.Title = "About The IS Management System Application";
}
<h2>@ViewBag.Title.</h2>

<h3>Abstract</h3>
<p>This application is meant to give the user the ability to efficiently manage records of various individuals withing his organization.</p>
<p>The following technologies were used to design the application:</p>

<h3>Development Technology Used:</h3>
<ul>
    <li>Preferred Server-Side Language: C#.NET</li>
    <li>Preferred Client Side Languages: HTML5, CSS3, Javasript, JQuery</li>
    <li>Database design: SQL Server 2017 LocalDB</li>
    <li>Database ORM: Entity Framework - Database First Migrations</li>
    <li>Preferred MVC Template - ASP.NET MVC 5</li>
    <li>Additional Plugins used: Bootstrap, Toastr, JQuery DataTables, Bootswatch Themes, Resharper</li>
    <li>Source Control: Github. Project Link: <a href="https://github.com/randalx2/ISManagement" target="_blank">Github Cloud Repo</a></li>
</ul>
<br/>
<h3>Praneel Misthry</h3>
<img src="~/Content/Images/profile.png" alt="Mountain View" style="width:299px;height:450px;">
<h3>Software Engineering Background</h3>
<p>I have a BSc (Hons Level) in Electronic Engineering from UKZN Howard College. I specialize in the following fields:</p>
<ul>
    <li>Software Engineering / Development</li>
    <li>Embedded Systems - Atmel MCUs, Arduinos, Raspberry Pie</li>
    <li>Robotics</li>
    <li>Development of Applications primarily using C# / C++ as my preferred language of choice</li>
    <li>C# WinForms, C# Windows Automation (TestStack.White, Selenium), Web Development in ASP.NET MVC5 with Entity Framework, Game Development (C++ Allegro)</li>
</ul>
<br/>
<h3>How to Run the Application</h3>
<p>Firstly please ensure you have the following software available:</p>
<ul>
    <li>Microsoft Visual Studio 2017</li>
    <li>SQL Server 2017 LocalDB Express</li>
    <li>Git Source Control</li>
</ul>
<h4>Instructions</h4>
<ul>
    <li><a href="https://github.com/randalx2/ISManagement">Go to my GitHub project repo for ISManagement</a></li>
    <li>You will need to have a GitHub account to either clone or download the repo.</li>
    <li>Git Clone URL: https://github.com/randalx2/ISManagement.git </li>
    <li>Use Either Git-Bash command line or Visual Studio's built in Git UI to clone the repo.</li>
    <li>After cloning the repo, navigate to the "App_Data" folder. Here you will find the database script file for SQL Server which was provided.</li>
    <li>Double click on the file and follow instructions to open it using SQL Server Management Studio.</li>
    <li>When in SQL Server Management Studio, Click "Execute" to run the database script and create the database locally on your machine.</li>
    <li>Go back to the project in Visual Studio and ensure that Entity Framework is installed.</li>
    <li>Ensure that the ADO.NET Entity Model is mapped correctly to your database. Check connection strings etc.</li>
    <li>Choose to populate the Entity Model with data from this existing database.</li>
    <li>Once the data is mapped correctly, you may run the application starting from its home page.</li>
</ul>