@{
    ViewBag.Title = "Contact";
}
<h2>Contact Details</h2>
<h3>My Contact Details are as follows:</h3>

<address>
    Wayne Manor<br />
    Gotham City<br />
    <abbr title="Phone">0826836536</abbr>
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:pmisthry@gmail.com" target="_blank">pmisthry@gmail.com</a><br />
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/praneel-m-945076126/" target="_blank">My LinkedIn Profile</a>
</address>