@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><font color="white">Interactive Solutions</font></h1>
    <p class="lead"><font color="white">Interactive Solutions began as a software development company focused on developing software for the call centre industry. As our client base expanded, so too did our product offerings.</font></p>
    <p><a href="http://www.interactivesa.co.za/" target="_blank" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
