@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><font color="white">Client Account Management System</font></h1>
    <p class="lead"><font color="white">This application is meant for admin staff to perform CRUD operations on client data</font></p>
    <p><a href="http://www.google.co.za/" target="_blank" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About This Project</h2>
        <p>
            This Project was designed using C# ASP.NET MVC with Entity Framework.
        </p>
        <p><a class="btn btn-default" href=@Url.Action("About", "Home")>Learn More About this Project &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Manage Persons</h2>
        <p>Effectively manage the accounts and transactions of relevant people in the organization.</p>
        <p><a class="btn btn-default" href=@Url.Action("Index", "Persons")>Manage People &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact the Software Engineer</h2>
        <p>View relevant contact information regarding the lead Software Engineer for this Project.</p>
        <p><a class="btn btn-default" href=@Url.Action("Contact", "Home")>Contact Engineer &raquo;</a></p>
    </div>
</div>



